body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
#Header{
    display: flex;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
  margin-bottom: 10%;

}
.headerpart{
    width: 50%;
    padding-left: 5%;
}
.tc{
    color: tomato;
}
.linkcolor{
    padding: 10px 40px;
    text-decoration: none;
    background-image:linear-gradient(red,orange);
}
h1{
    font-size: 50px;
}
.linkcolor{
    border-radius: 10px;
}
.headerpart img{
    width: 100%;
}
#Dream{
    display: flex;
  background-image: url(images/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
}
.dreampart{
    width: 50%;
    padding-right: 5%;
}
.dreampart img{
    width: 100%;

}

#experiencearea{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    padding: 5%;
}
.experience-area-part{
    display: flex;
}
.experience-area-part h3{
    color: orange;
}
.experience-area-part div{
    box-shadow:5px 7px 40px gray ;
    height: 80%;
    margin: 15px;
}
#fullstack{
    border-left: 7px solid;
    background-image: linear-gradient(180deg, red tomato);
    height: 80%;
 border-image-slice:1 ;
 padding: 10px;
}
#baby{
    border-left: 7px solid;
    background-image: linear-gradient(180deg,blue tomato);
    height: 80%;
 border-image-slice: 1;
 padding: 10px;
}